@model IEnumerable<Team12FinalProject.Models.Shipping>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippingBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShippingID">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
