@model Team12FinalProject.Models.CreditCard

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardHolder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardHolder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNumberShort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CreditCardID" />
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
