@model IEnumerable<Team12FinalProject.Models.CreditCard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumberShort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CreditCardID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CreditCardID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Go back to account information", "Index", "Account", null, new { @class = "btn btn-primary" })
