@model IEnumerable<Team12FinalProject.Models.OrderDetail>
@{
    ViewData["Title"] = "AllBooksSold";
}
<h2>All Books Sold Report</h2>
<form asp-action="AllBooksSold" asp-controller="Reports" method="get">
    <p class="form-group">
        <div class="form-group">
            <label>Sort By:</label>
            @Html.DropDownList("SelectedSort", (SelectList)ViewBag.AllFilters, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-secondary">Sort</button>
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Order Number
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Price
            </th>
            <th>
                Weighted Average Cost
            <th>
                Profit Margins
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.AppUser.FirstName) @Html.DisplayFor(modelItem => item.Order.AppUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.AvgCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Profit)
            </td>

        </tr>
        }
    </tbody>
</table>
<p>
    Displaying @ViewBag.Record number of records
</p>
<div>
    <a asp-action="Index">Back to Reports</a>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
