@model Team12FinalProject.Models.ProcurementDetail
@{
    ViewBag.Title = "Create";
}
<h2>Add To Order</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Procurement.ProcurementID)
        @Html.HiddenFor(model => model.Book.BookID)
        @Html.HiddenFor(model => model.ProcurementDetailID)

        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookPrice" class="control-label"></label>
            <input asp-for="BookPrice" class="form-control" />
            <span asp-validation-for="BookPrice" class="text-danger"></span>
        </div>
        <p>
        </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reorder Product" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", "Books")
</div>