@model Team12FinalProject.Models.OrderDetail
@{
    ViewBag.Title = "Add Book";
}
<h2>Add Book To Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Order.OrderID)
        @Html.HiddenFor(model => model.OrderDetailID)
        @Html.HiddenFor(model => model.Book.BookID)
        @*<div class="form-group">
                <label class="control-label col-md-2">Select a product:</label>
                <div class="col-md-10">
                    @Html.DropDownList("SelectedBooks", (SelectList)ViewBag.AllBooks, new { @class = "form-control" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <p>
        </p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Book" class="btn btn-default" />
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>