@model Team12FinalProject.Models.Order
@using Team12FinalProject.Models
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Order</h4>
        <hr />
        @Html.HiddenFor(model => model.OrderID)
    </div>
}
<h4>Book</h4>
<table class="table table-sm table-striped table-hover">
    <tr>
        <th>Book Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    @foreach (OrderDetail od in Model.OrderDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => od.Book.Title)</td>
            <td>@Html.DisplayFor(modelItem => od.Book.Price)</td>
            <td>@Html.DisplayFor(modelItem => od.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => od.TotalPrice)</td>
        </tr>
    }
</table>
<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderDate)</td>
        <td>@Html.DisplayFor(model => model.OrderDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Subtotal)</td>
        <td>@Html.DisplayFor(model => model.Subtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.DiscountAmt)</td>
        <td>@Html.DisplayFor(model => model.DiscountAmt)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ShippingAmt)</td>
        <td>@Html.DisplayFor(model => model.ShippingAmt)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TotalPrice)</td>
        <td>@Html.DisplayFor(model => model.TotalPrice)</td>
    </tr>
</table>
<p>
    @*@Html.ActionLink("Check Out", "CheckOutMethod", new { id = Model.OrderID })*@
    @if (!Model.CheckOutStatus)
    {
        if (User.IsInRole("Employee"))
        {
            @Html.ActionLink("Get Email", "GetEmail", null, new { @class = "btn btn-primary" })

        }
        else
        {
            @Html.ActionLink("Check Out", "CheckOut", new { id = Model.OrderID }, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Add Book", "Index", "Books", new { OrderID = Model.OrderID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Edit Existing Order", "Edit", new { id = Model.OrderID }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Summary", "Summary", new { id = Model.OrderID }, new { @class = "btn btn-primary" })


    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
